<body class="lock-screen">

    <div class="lock-wrapper">

        <div id="time"></div>


        <div class="lock-box text-center">
            <img src="{echo CDN}img/follower-avatar.jpg" alt="lock avatar"/>
            <h1>Meraj Ahmad Siddiqui</h1>
            <span class="locked">Locked</span>
            <form role="form" class="form-inline" action="#">
                <div class="form-group col-lg-12">
                    <input type="password" placeholder="Password" id="exampleInputPassword2" class="form-control lock-input">
                    <input type="hidden" name="action" value="relogin">
                    <button class="btn btn-lock" type="submit">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </form>
            </div>
            <center><a href="index" style="color:white; size:22px"> Log In with Anoother account</a></center>

    </div>
    