<!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
              <!-- page start-->
              <div class="row">
                  <aside class="profile-nav col-lg-3">
                      <section class="panel">
                          <div class="user-heading round">
                              <a href="#">
                                  <img src="{echo CDN}img/profile-avatar.jpg" alt="">
                              </a>
                              <h1>{$user->name}</h1>
                              <p>{$user->email}</p>
                          </div>

                          <ul class="nav nav-pills nav-stacked">
                              <li><a>Secret Code<span class="label label-info pull-right r-activity">9</span></a></li>
                              <li><a>Total Question<span class="label label-info pull-right r-activity">9</span></a></li>
                              <li><a>Total Duration<span class="label label-info pull-right r-activity">9</span></a></li>
                          </ul>
                      </section>
                  </aside>
                  <aside class="profile-info col-lg-9">
                      <section class="panel">
                          <header class="panel-heading">
                              <center>MM Technologies Hiring Aptitude Test</center>
                            
                            </header>
                          <div class="panel-body">

                              <form class="form-horizontal" id="default">
                                  <fieldset title="Step1" class="step" id="default-step-0">
                                      <legend>Question : 1</legend>
                                      <h4>There is a merry-go-round race going on.One person says,"1/3 of those in front of me
                                          and 3/4 of those behind me, give the total number of children in the race". Then the
                                          number of children took part in the race?
                                          <div class="radios">
                                              <label class="label_radio r_on" for="radio-01">
                                                  <input name="sample-radio" id="radio-01" value="1" checked="" type="radio"> This is option A...
                                              </label>
                                              <label class="label_radio r_off" for="radio-02">
                                                  <input name="sample-radio" id="radio-02" value="1" type="radio"> and this is option B...
                                              </label>
                                              <label class="label_radio r_off" for="radio-03">
                                                  <input name="sample-radio" id="radio-03" value="1" type="radio"> or simply choose option C
                                              </label>
                                              </div>
                                              </h4>
                                  </fieldset>
                                  <fieldset title="Step 2" class="step" id="default-step-1" >
                                      <legend> </legend>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Phone</label>
                                          <div class="col-lg-10">
                                              <input type="text" class="form-control" placeholder="Phone">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Mobile</label>
                                          <div class="col-lg-10">
                                              <input type="text" class="form-control" placeholder="Mobile">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Address</label>
                                          <div class="col-lg-10">
                                              <textarea class="form-control" cols="60" rows="5"></textarea>
                                          </div>
                                      </div>

                                  </fieldset>
                                  <fieldset title="Step 3" class="step" id="default-step-2" >
                                      <legend> </legend>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Full Name</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">Tawseef Ahmed</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Email Address</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">tawseef@vectorlab.com</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">User Name</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">tawseef</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Phone</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">01234567</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Mobile</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">01234567</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Address</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">
                                                  Dreamland Ave, Suite 73
                                                  AU, PC 1361
                                                  P: (123) 456-7891 </p>
                                          </div>
                                      </div>
                                  </fieldset>
                                  <input type="submit" class="finish btn btn-success" value="Finish"/>
                              </form>
                          </div>
                      </section>
                  </aside>
              </div>

              <!-- page end-->
          </section>
      </section>
      <!--main content end-->