 <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          <!-- page start-->
              <!--Summernote start-->
              <div class="row">
                  <div class="col-md-12">
                          <section class="panel">
                          <header class="panel-heading">
                              Notice Board Update Panel
                          </header>
                            <div class="panel-body">
                                    <form action="#" class="tasi-form">
                                        <div class="form-group">
                                        <div class="col-md-3 col-xs-11">
                                        <input class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />
                                        <span class="help-block">Select Event Date</span>
                                        </div>
                                        </div>
                                        <div class="col-md-9 col-xs-11">
                                        <input class="form-control form-control-inline input-medium"  size="40" type="text" value="" />
                                        <span class="help-block">Enter Notice Heading/ Title</span>
                                        </div>

                                    </form>
                              </div>
                        </section>
                         <section class="panel">
                          <div class="panel-body">
                              <div class="summernote">Erase this and type the notice content here ...</div>
                          </div>
                      </section>
                  </div>
              </div>
              <!--Summernote end-->


          <!-- page end-->
          </section>
      </section>
      <!--main content end-->
